.footButton {
    margin-top: 48px;
    background-color: #f8f8f8;
    font-family: 'Spartan',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    opacity: 0.8;
    padding: 17.6px 0 15.4px 0;
    margin: auto;
    width: 86%;
}
.footButton a {
    text-decoration: none;
    color: #121212;
}