.title {
    padding-top: 32px;
    background-color: #FEFEFE;
}
.images {
    display: flex;
    
}
.wrapper {
    width: 86%;
    margin: auto;
}
.images img {
    vertical-align:bottom;
}
.images_left {
    margin-right: 30px; 
    width: 49%;
    position: relative;
}
.images_right {
    display: flex;
    flex-wrap: wrap;
    width: 49%
}
.images_right_1 {
    margin-right: 4%;
    width: 48%;
    position: relative;
}
.images_right_2 {
    width: 48%;
    position: relative;
}
.images_right_3 {
    margin-top: 4.8%;
    width: 100%;
    position: relative;
}
.options {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 30px 0;
    background-color: #fff;
    border-bottom: 2px solid #f8f8f8;
}
.options_wrapper {
    width: 86%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.banner_left {
    position: absolute;
    text-align: center;
    width: 53%;
    height: 20%;
    top: 40%;
    left: 23%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 3px;
}
.banner_left h2 {
    font-family: 'Spartan',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.528vw;
    line-height: 25px;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
}
.banner_left p {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 600;
    font-size: 0.833vw;
    line-height: 13px;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    opacity: 0.4;
}
.banner_right {
    position: absolute;
    width: 40%;
    height: 25%;
    background-color: white;
    top: 37%;
    left: 32%;
    font-family: 'Spartan',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.972vw;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    justify-content: center;
    border-radius: 3px;
}
.banner_right a {
    color: #121212;
    text-decoration: none;
}
@media (max-width: 700px) {
    .arrow {
        display: none;
    }
    .options_wrapper {
        flex-direction: column;
    }
    .images_left {
        display: none;
    }
    .images_right {
        margin: auto;
    }
}
@media (max-width: 420px) {
    .banner_left p {
        display: none;
    }
}
