.product {
    margin-bottom: 30px;
    text-decoration: none;
}
.product_image {
    width: 100%;
}
.product p {
    font-family: 'Spartan',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    opacity: 0.6;
    margin: 16px 0 12px 0;
}
.rating {
    display: flex;
    justify-content: space-between;
}
.rating span {
    font-family: 'Spartan',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
}