.wrapper {
    width: 86%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.header_up {
    
    background-color: black;
}
.header_up_left {
    width: 44%;
    display: flex;
    justify-content: space-between;
}
.header_up_right {
    width: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_down {
    background-color: #FFFFFF;
    padding: 15px 0 19px 0;
    border-bottom: 2px solid #F8F8F8;;
}
.header_down a {
    text-decoration: none;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
}
.header_down_list {
    display: flex;
    width: 53%;
    justify-content: space-between;
    align-items: center;
}
.header_down_icons {
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.header_down_icons button {
    background: none;
    border: none;
    padding: 0;
}
.header_down_icons button:hover {
    cursor: pointer;
}