.wrapper {
    width: 86%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer_top {
    background: #121212;
}
.footer_top h3 {
    font-family: 'Spartan',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.833vw;
    line-height: 18px;
    margin: auto 0;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer_top img {
    width: 18px;
    height: 18px;
}
.joinUs {
    width: 47%;
    margin: 12px 0;
}
.joinUs input {
    width: 77%;
    height: 30px;
    background: #FFFFFF;
    opacity: 0.2;
    border: none;
    vertical-align: bottom;
    margin-right: 12px;
}
.joinUs input::placeholder {
    font-family: 'Spartan',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.016vw;
    line-height: 18px;
    color: grey;
}
.joinUs button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
    background-color: black;
    height: 32px;
    padding: 7px 24px;
}
.icons {
    width: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_middle {
    display: flex;
    width: 86%;
    justify-content: space-between;
    margin: 40px auto;
}
.footer_middle li:first-child {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #121212;
    margin-bottom: 8px;
}
.footer_middle li {
    font-family: 'Spartan',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 34px;
    color: #121212;
    opacity: 0.8;
}
.footer_middle img {
    vertical-align: middle;
    margin-right: 8px;
}
.footer_bottom {
    background: #F8F8F8;
    padding: 12px 0;
}
.footer_bottom img {
    margin-right: 12px;
}
.footer_bottom p {
    font-family: 'Spartan',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
    color: #121212;
    opacity: 0.8;
}
.footer_bottom a {
    font-family: 'Spartan',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
    text-align: right;
    text-decoration-line: underline;
    color: #121212;
    opacity: 0.8;
}
@media (max-width: 620px) {
    .footer_middle li {
        font-size: 9px;
    }
    .footer_middle li:first-child {
        font-size: 9px;
    }
    .icons {
        justify-content: space-around;
    }
}
@media (max-width: 480px) {
    .footer_middle li {
        font-size: 6px;
    }
    .footer_middle li:first-child {
        font-size: 6px;
    }
}
@media (max-width:1280px) {
    .joinUs {
        text-align: center;
    }
}